@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #e0e0e0;
$font-family: Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg: #fff;
$navbar-default-brand-color: #556b2f;
$brand-primary: #556b2f;
$jumbotron-bg: #fff;

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}



@import "bootstrap-sprockets";
@import "bootstrap";



// jefrey's css

.npr-red {
	color: #ee3a23;
}

.npr-black {
	color: #060709;
}

.npr-blue {
	color: #4067b2;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #060709;
    background-color: #e0e0e0;
}

a{
	color: #4067b2;
	text-decoration: none;
}
a:hover, a:active{
	color: #060709;
	text-decoration: none;
}

audio {
    display: inline-block;
    vertical-align: baseline;
    width: 250px;
}

.alert {
    padding: 15px;
    margin: 20px 0 20px 0;
    border: none;
    border-radius: 0;
    background-color:#ee3a23;
}
.alert ul{
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 40px 0 0;
	text-align:left;
}
.alert ul li{
	font-size: 18px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.3;
}

header {
	background-color: #fff;
	height: 200px;
}

header h1{
	display: inline-block;
	margin:30px 0 30px 0;
	width:373px;
	height:40px;
}
header h1 a{
	text-indent:-9999px;
	display:block;
	background-color:transparent;
	background-image:url(npr-o-matic_logo.png);
	background-size: 373px 40px;
    background-position: 0 0;
    background-repeat:no-repeat;
}

nav{
	position: absolute;
    top: 160px;
}

nav ul{
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align:left;
}
nav li{
	display: inline-block;
    margin-right: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-weight:bold;
}
nav li a{
	padding-bottom:10px;
}
nav li a:hover{
	border-bottom:5px solid #ee3a23;
}

footer{
	background-color: #fff;
	text-align:left;
	color:#777;
	padding:50px 0 50px 0;
}

footer p{
	font-size:14px;
	line-height:22px;
}

ul.footer-nav{
	list-style-type: none;
	text-align:left;
	padding:0 0 0 0;
}
ul.footer-nav li{
	display:inline-block;
	margin-right:10px;
	text-transform: lowercase;
}
.footer-byline{
	margin:50px 0 0 0;
	font-size:10px;
	line-height:14px;
	text-align:left;
}

h2{
	font-size:48px;
	margin:30px 0 30px 0;
}

h3{
	font-size: 18px;
	font-weight: bold;
	color: #ee3a23;
	margin-top: 10px;
	margin-bottom: 20px;
}

// index css

.index-box{
	padding: 15px;
	margin-bottom: 40px;
	background-color: #fff;
	border-top: 5px solid #4067b2;
}

.index-box ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0 0 0 0;
	text-align:left;
}

.index-box li a{
	display:block;
	background-color:#060709;
	color:#fff;
	font-size: 24px;
	font-weight: bold;
	padding:20px;
	margin:10px 0 10px 0;
	letter-spacing: 1px;
    text-transform: lowercase;
}

.index-box li a:hover, .index-box li a:active{
	color:#fff;
	background-color:#4067b2;
	text-decoration: none;
}


// show css

.music-box{
	padding: 15px;
	text-align: center;
	margin-bottom: 40px;
	background-color: #fff;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	border-top: 5px solid #4067b2;
}

.music-box img{
	margin-bottom:30px;
}

.music-box ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0 0 0 0;
}
.music-box li{
	line-height: 45px;
}
.music-box li .song-title a{
	display: block;
	font-size: 14px;
	color: #060709;
	text-decoration: none;
	line-height: 16px;
	margin-bottom: 5px;
}
.music-box li .song-title a:hover{
	color: #4067b2;
}

@media screen and (max-width: 500px) {
	header {
		height: 100px;
	}

	header h1{
		display: block;
    	margin: 37px auto 30px auto;
    	width: 250px;
    	height: 27px;
    	text-align: center;
	}
	header h1 a{
		text-indent:-9999px;
		display:block;
		background-color:transparent;
		background-image:url(npr-o-matic_logo_sm.png);
		background-size: 250px 27px;
    	background-position: 0 0;
    	background-repeat:no-repeat;
}
	
	nav{
		display: none;
	}
	
	ul.footer-nav{
		list-style-type: none;
		text-align:center;
		padding:0 0 0 0;
	}
	ul.footer-nav li{
		display:block;
	}
	ul.footer-nav li a{
		display:block;
		background-color:#e0e0e0;
		color:#222;
		font-size: 14px;
		font-weight: bold;
		padding:10px;
		margin:5px 0 5px 0;
    	text-transform: lowercase;
	}
	ul.footer-nav li a:hover{
		background-color:#4067b2;
		color:#fff;
	}
	h2{
		font-size:30px;
		margin:25px 0 25px 0;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 4/2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2)
     {
        header h1 a{
			background-image:url(npr-o-matic_logo@2x.png);
		}       
	}

